.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;

  div {
    padding: 1rem;
    transition: 0.2s;
    cursor: pointer;

    img {
      width: 100%;
      box-shadow: rgba(236, 231, 231, 0.35) 0px 5px 15px;
    }

    &:hover {
      filter: brightness(1.2);
    }
  }
}
